<style>
   th i{
      font-size: 40px;
    }
    th p{
      font-size: 30px;
    }
    .icon-link-hover{
      font-size: 25px;
    }
    .table-footer tr{
      width: 300px;

    }

    .bg-customfooter {
      backdrop-filter: blur(5px);
      background-image: url('img/footer.jpg'); /* Đường dẫn đến hình ảnh làm nền */
      background-size: cover; /* Kéo hình ảnh để nó phủ toàn bộ diện tích của phần tử */
      background-position: center; /* Căn chỉnh hình ảnh vào giữa */
      height: 350px;/* Chiều cao tối thiểu là 100% chiều cao của viewport */
    }
    .bg-customfooter th{
      font-size: 20px;
    }
    .logo-footer{
      width: 70px;
      height: 70px;
      
    }
</style>
<footer class="">
    <div class="card bg-customfooter text-white" >
      <div class="card-body">
        <table class=" table-footer " >
          <tr class="text-center">
            <th class="col-3">Giới Thiệu </th>
            <th class="col-3">Liên Hệ</th>
            <th class="col-3">Danh Mục Sản Phẩm</th>
            <th class="col-3">Nền Tảng Khác</th>
          </tr>
          <tbody>
          <tr >
            <td class="col-3 text-center">Hiên Vy là thương hiệu với hơn 10 năm 
               kinh nghiệm trong lĩnh vực thời trang cao
                cấp, tự hào mang đến cho quý ông những 
               trang phục hoàn hảo nhất.
              <br><span class="badge text-warning fs-6">Điều khoản bảo mật</span><br>
  
            </td>
            <td class="col-3"><i class="fa-solid fa-location-dot"></i><span class="spacing" style="margin-left: 15px;"></span>02 Tô Ký, Phường Tân Chánh Hiệp, 
              <br><span class="spacing" style="margin-left: 30px;"></span>Quận 12, TP. HCM
              <br><span>
                <i class="fa-solid fa-phone"></i><span class="spacing" style="margin-left: 15px;"></span>0101010202
              </span><br>
              <span>
                <i class="fa-solid fa-envelope"></i><span class="spacing" style="margin-left: 15px;"></span>Nghiavhps36086@fpt.edu.vn
              </span><br>
              <span>
                <i class="fa-regular fa-clock"></i><span class="spacing" style="margin-left: 15px;"></span>7:30am <-> 5:30pm <br >  <span class="spacing" style="margin-left: 30px;"></span>Monday <-> Saturday
              </span><br>
            </td>
            <td class="col-3 text-center">
              <a href="" class="nav-link">Vest Bán Có Sẵn <span>49</span></a>
              <a href="" class="nav-link">Vest Cho Thuê Có Sẵn <span>53</span></a>
  
             
            </td>
            <td class="icon-link-hover col-3 text-center" style="letter-spacing: 5px;"> 
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-tiktok"></i><br>
              <i class="fa-brands fa-yoast"></i>
              <i class="fa-brands fa-twitter"></i></td>
  
          </tr>
          <tr>
            <td><div class=" shopping-mall-footer text-center align-middle ">
              <h1><img class="logo-footer"  src="img/Frame_39_2x-removebg-preview.png" alt="">
              </h1>
              <h5 >Thời Trang Và Cuộc Sống  </h5>
              </div></td>
          </tr>
        </tbody>
        </table>
      </div>
  
    </div>
  </footer>